.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

header.header {
  padding: 15px 0;
}
main.main {
  padding: 15px 0;
  flex-grow: 1;
}
footer.footer {
  padding: 15px 0;
}
