@import '../../styles/adaptive.scss';
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  &-icon {
  }
  &-text {
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
    @include tablets {
      display: none;
    }
  }
}
