.text-area {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  &::placeholder {
    color: inherit;
  }
}
