.toolbar-body {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  &-menuButton {
    flex-grow: 0;
  }
  &-logo {
    flex-grow: 0;
  }
  &-search {
    flex-grow: 1;
  }
  &-avatar {
    flex-grow: 0;
  }
}
